<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
   
<html>
<head>
<title>Przyklad - wzorzec MVC + panel administracyjny</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body onload="document.forms[0][0].focus();"> <!-- JavaScript - ustawienie kursora w pierwszym polu pierwszego formularza -->

<div id="strona">

    <div id="naglowek">
	<h2> <a href="index.php?page=glowna" tal:attributes="class menu/glowna">Nagłówek</a> </h2>
    </div>

    <div id="kolumnaLewa">
        <div id="menuPionowe">
		<ul class="ukladPionowy">
			<li><a href="index.php?page=login" tal:attributes="class menu/podstrona1">Zaloguj sie</a></li>
			<li><a href="index.php?page=register" tal:attributes="class menu/podstrona2">Zarejestruj sie</a></li>
			<li><a href="index.php?page=podstrona3" tal:attributes="class menu/podstrona3">Podstrona 3</a></li>
			<li><a href="index.php?page=podstrona4" tal:attributes="class menu/podstrona4">Podstrona 4</a></li>
			<li><a href="index.php?page=podstrona5" tal:attributes="class menu/podstrona5">Podstrona 5</a></li>
		</ul>
        </div>

    </div>

    <div id="kolumnaPrawa">
		
        <div id="tresc" tal:condition="exists: tresc" tal:content="tresc">
		</div>
		
	</div>
	
    <div id="stopka">
    </div>

</div>

</body>
</html>