<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
   
<html>
<head>
<title>Dodawarka zdjęć</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>

<div id="strona">

    <div id="naglowek">
	<h2> <a href="index.php?page=glowna">Nagłówek</a> </h2>
    </div>

    <div id="kolumnaLewa">
        <div id="menuPoziome">
            <ul class="ukladPoziomy"
			<li><a href="index.php?page=login">Zaloguj sie</a></li>
			<li><a href="index.php?page=register" >Zarejestruj sie</a></li>
		</ul>
        </div>

    </div>

    <div id="kolumnaPrawa">

        <div id="tresc" tal:condition="exists: tresc" tal:content="tresc">
		</div>

	</div>



</div>

</body>
</html>